{% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
<h2>{{ title }}</h2>
<div class="d-flex justify-content-center">
<form method="post" class="text-start w-100" style="max-width: 400px;">
  {{ form.hidden_tag() }}
  <div class="mb-3">
    {{ form.imie.label(class="form-label") }}
    {{ form.imie(class="form-control") }}
    {% for error in form.imie.errors %}
      <div class="text-danger">{{ error }}</div>
    {% endfor %}
  </div>
  <div class="mb-3">
    {{ form.wojewodztwo.label(class="form-label") }}
    {{ form.wojewodztwo(class="form-select") }}
    {% for error in form.wojewodztwo.errors %}
      <div class="text-danger">{{ error }}</div>
    {% endfor %}
  </div>
  <div class="text-center">
    <button type="submit" class="btn btn-success btn-sm">{{ form.submit.label.text }}</button>
  </div>
</form>
</div>
{% endblock %}
