{% extends "base.html" %}
{% block title %}Resetowanie hasła{% endblock %}
{% block content %}
<h2>Resetowanie hasła</h2>
<div class="row justify-content-center text-center">
  <div class="col-12 col-md-6">
    <form method="post" class="text-start w-100" style="max-width: 400px;">
  {{ form.hidden_tag() }}
  <div class="mb-3">
    {{ form.email.label(class="form-label") }}
    {{ form.email(class="form-control") }}
  </div>
  <div class="text-center">
    <button type="submit" class="btn btn-primary btn-sm">{{ form.submit.label.text }}</button>
  </div>
    </form>
  </div>
</div>
{% endblock %}
