{% extends "base.html" %}
{% block title %}Nowe zajęcia{% endblock %}
{% block content %}
<h2>Nowe zajęcia</h2>
<div class="d-flex justify-content-center">
<form method="post" class="text-start w-100" style="max-width: 400px;">
  {{ form.hidden_tag() }}
  <div class="mb-3">
    {{ form.data.label(class="form-label") }}
    {{ form.data(class="form-control") }}
  </div>
  <div class="mb-3">
    {{ form.godzina_od.label(class="form-label") }}
    {{ form.godzina_od(class="form-control") }}
  </div>
  <div class="mb-3">
    {{ form.godzina_do.label(class="form-label") }}
    {{ form.godzina_do(class="form-control") }}
  </div>
  <div class="mb-3">
    {{ form.beneficjenci.label(class="form-label") }}
    {{ form.beneficjenci(class="form-select") }}
  </div>
  <div class="text-center">
    <button type="submit" class="btn btn-success btn-sm">{{ form.submit.label.text }}</button>
  </div>
</form>
</div>
{% endblock %}
