{% extends "base.html" %}
{% block title %}Lista zajęć{% endblock %}
{% block content %}
<h2>Lista zajęć</h2>
<form method="get" class="mb-3">
  <div class="input-group">
    <input type="text" name="q" class="form-control" placeholder="Szukaj" value="{{ q }}">
    <button class="btn btn-primary btn-sm" type="submit">Szukaj</button>
  </div>
</form>
<div class="table-responsive">
<table class="table mx-auto text-start">
  <thead>
    <tr>
      <th>Data</th>
      <th>Godziny</th>
      <th>Specjalista</th>
      <th>PDF</th>
    </tr>
  </thead>
  <tbody>
    {% for zaj in zajecia_list %}
    <tr>
      <td>{{ zaj.data.strftime('%d.%m.%Y') }}</td>
      <td>{{ zaj.godzina_od.strftime('%H:%M') }} - {{ zaj.godzina_do.strftime('%H:%M') }}</td>
      <td>{{ zaj.specjalista }}</td>
      <td>
        <a href="{{ url_for('pobierz_pdf', zajecia_id=zaj.id) }}" class="btn btn-sm btn-secondary">Pobierz PDF</a>
      </td>
    </tr>
    {% else %}
    <tr><td colspan="4">Brak zajęć.</td></tr>
    {% endfor %}
  </tbody>
</table>
</div>
{% endblock %}
